﻿@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<button onclick="btnClick()" class="btn btn-primary">Buckaroo Pay</button>
</div>

@section Scripts
{
<script type="text/javascript">

	const btnClick = async () => {
		try{
			const _res = await fetch("/Buckaroo/Pay")
			const _data = await _res.json()
			console.log(_data)
			if(_data.requiredAction?.redirectURL){
				window.location.href = _data.requiredAction?.redirectURL
			} else {
				alert("redirect url not found, key: ", _data.key)
			}
		}
		catch(e){
			console.log(e)
		}		
	}

</script>
}