﻿@model BuckarooPushResponseModel
@{
    ViewData["Title"] = "Push Response Failure";
    PushResponseTransaction transaction = @Model.Transaction;
}

<h1 class="text-danger">Push Response Failure.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (transaction.IsTest)
{
    <p>
        <strong>Transaction Key: </strong> <code>@transaction.Key</code>
    </p>
    <p>
        <strong>Amount: </strong> <code>@transaction.AmountDebit<i>@transaction.Currency</i></code>
    </p>
}