﻿@model BuckarooPushResponseModel
@{
    ViewData["Title"] = "Push Response Success";
    PushResponseTransaction transaction = @Model.Transaction;
}

<h1 class="text-danger">Push Response Success.</h1>

@if (transaction.IsTest)
{
    <p>
        <strong>Transaction Key: </strong> <code>@transaction.Key</code>
    </p>
    <p>
        <strong>Amount: </strong> <code>@transaction.AmountDebit<i>@transaction.Currency</i></code>
    </p>
}